<form method="post" hx-delete="{% url 'blog_delete' blog.pk %}" hx-target="#blog-{{ blog.pk }}" hx-swap="delete" onsubmit="closeModal('delete-blog-modal')">
    {% csrf_token %}
    <p>Are you sure you want to delete this blog post?</p>
    <button type="submit" class="btn btn-primary">Delete</button>
</form>

<script>
    htmx.on("htmx:afterRequest", (e) => {
        if (e.detail.successful){
            if(e.detail.requestConfig.triggeringEvent.type === 'submit'){
                if (e.detail.requestConfig.verb === "delete") {
                    var targetId = e.detail.target.id;
                    document.getElementById(targetId).remove();
                }
            }
        }
    });
</script>