{% extends "main/base.html" %}

{% block content %}
    <h1>Blog</h1>
    <div class="button-container">
        <button hx-get="{% url 'blog_create' %}" hx-target="#create-blog-modal .modal-content" hx-trigger="click" class="btn btn-primary">Create New Post</button>
    </div>
    <div class="blog-container">
        {% if is_empty %}
            <p>No blog posts available.</p>
        {% else %}
            {% for blog in blogs %}
                {% include 'partials/blog/post.html' %}
            {% endfor %}
        {% endif %}
    </div>

    <!-- Modal for creating blog post -->
    {% include "components/modal.html" with modal_id="create-blog-modal" %}

    <!-- Modal for deleting blog post -->
    {% include "components/modal.html" with modal_id="delete-blog-modal" %}

    {% include 'partials/blog/js/script.html' %}
{% endblock %}
