<header>
    <div class="header-container">
        <div class="header-left">
            <h1><a href="/">My Website</a></h1>
        </div>
        <nav class="header-center">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'blog' %}">Blog</a>
                    <ul>
                        <li><a href="{% url 'blog_category_1' %}">Category 1</a></li>
                        <li><a href="{% url 'blog_category_2' %}">Category 2</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'events' %}">Events</a></li>
            </ul>
        </nav>
        <div class="header-right">
            {% if user.is_authenticated %}
                <span>{{ user.username }}</span>
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.get_full_path }}">
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <button hx-get="{% url 'login_options' %}" hx-target="#auth-login-modal .modal-content" name="next" value="{{ request.get_full_path }}">Login</button>
            {% endif %}
        </div>
    </div>
</header>
<!-- Modal for Login/Register -->
{% include "components/modal.html" with modal_id="auth-login-modal" %}
