<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}About{% endblock %}</title>
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- Alpine Plugins -->
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/morph@3.x.x/dist/cdn.min.js"></script>
        
        <!-- Alpine Core -->
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        {% load static %}
        <style> [x-cloak] { display: none !important; } </style>
    </head>
    <body class="bg-white dark:bg-slate-200 flex flex-col min-h-svh" x-data x-cloak>
        {% include "layouts/header.html" %}

        {% block main %}{% endblock %}

        {% include "layouts/footer.html" %}

    </body>
</html>
<!-- CSRF Token Script -->
<script>
    document.addEventListener('htmx:configRequest', (event) => {
        if (document.querySelector('[name=csrfmiddlewaretoken]') !== null){
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            event.detail.headers['X-CSRFToken'] = csrfToken;
        }
    });
</script>