<div x-data="{ editingId: null, newTitle: '' }" >
    <div class="flex justify-center" id="event-table-container" hx-ext="alpine-morph" hx-swap="morph">
        <div class="flex flex-col mt-6" id="event-table">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                    <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                            <thead class="bg-gray-50 dark:bg-gray-800">
                                <tr>
                                    <th class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                        Title
                                    </th>
                                    <th class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                        Date
                                    </th>
                                    <th class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                        Edit
                                    </th>
                                    <th class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                        Delete
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                                {% for event in events %}
                                <tr>
                                    <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                                        <input type="text" x-show="editingId === {{ event.pk }}" x-model="newTitle" name="title" class="text-gray-500 dark:text-gray-400">
                                        <p x-show="editingId !== {{ event.pk }}" class="text-gray-500 dark:text-gray-400">{{ event.title }}</p>
                                    </td>
                                    <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                                        <p class="text-gray-500 dark:text-gray-400">{{ event.date }}</p>
                                    </td>
                                    <td class="px-4 py-4 text-sm whitespace-nowrap">
                                        <button
                                            x-show="editingId === {{ event.pk }}"
                                            hx-post="{% url 'event_update' event.pk %}"
                                            hx-include="closest tr"
                                            x-bind:hx-vals="JSON.stringify({'title': newTitle})"
                                            hx-target="#event-table-container"
                                            hx-swap="morph"
                                            @click="editingId = null"
                                            class="px-1 py-1 text-gray-500 transition-colors duration-200 rounded-lg dark:text-gray-300 hover:bg-gray-100">
                                            Send
                                        </button>
                                        <button
                                            x-show="editingId !== {{ event.pk }}"
                                            @click="editingId = {{ event.pk }}; newTitle = '{{ event.title }}'"
                                            class="px-1 py-1 text-gray-500 transition-colors duration-200 rounded-lg dark:text-gray-300 hover:bg-gray-100">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
                                            </svg>
                                        </button>
                                    </td>
                                    <td class="px-4 py-4 text-sm whitespace-nowrap">
                                        <button
                                            hx-delete="{% url 'event_delete' event.pk %}"
                                            hx-target="#event-table-container"
                                            hx-swap="morph"
                                            class="px-1 py-1 text-gray-500 transition-colors duration-200 rounded-lg dark:text-gray-300 hover:bg-gray-100">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>